<div class="content">
  <aside>Test task #1</aside>

  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="left">
        <form class="pure-form">
          <fieldset>
            <input type="text">
            <button class="pure-button pure-button-primary">Create</button>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="right">
        <p>0 requests</p>

        <div class="right-content"/>
      </div>
    </div>
  </div>
</div>

